@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
video,
iframe {
    display: block;
}

ol,
ul {
    list-style: none;
}

body {
    color: #685F50;
    font-size: 16px;
    font-family: 'Pretendard';
    /* font-family: 'NostalgicCocochoitoon'; */
    min-width: 1450px;
    line-height: 150%;
}

.inner {
    width: 1320px;
    margin: 0 auto;
}

h2 {
    font-family: 'NostalgicCocochoitoon';
    font-weight: 400;
    color: #685F50;
    font-size: 36px;
    text-align: center;
}

h5 {
    font-size: 22px;
    color: #E86E2F;
    font-weight: bold;
    text-align: center;
}

.title h2 {
    padding-bottom: 20px;
}

.title>img {
    margin: 0 auto;
    padding-bottom: 20px;
}

.title h5 {
    padding-bottom: 70px;
}

.a_hover:hover{
    color: #E86E2F;
}

/*------------------------
  문의하기 / 올라가기 버튼
  -----------------------*/
.ask_btn {
    position: fixed;
    right: 40px;
    bottom: 150px;
    z-index: 999;


}

.up_btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 999;
}


/*----------
   header
  ---------*/
#header {
    background-color: rgba(255, 244, 222, 50%);
     box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
}

#header.scrolled {
    background-color: rgba(255, 244, 222, 1);
    box-shadow: #685F50;
}

#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#header .nav {
    display: flex;
    gap: 45px;
}

#header>.inner>.nav>li>a {
    display: inline-block;
    padding: 28px 0;
    
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);;
}


#header .reservation {
    display: flex;
    align-items: center;
}

#header>.inner>ul {
    display: flex;
}

#header .reserve_text {
    color: #E86E2F;
    font-weight: bold;
    padding-left: 5px;
}

.reserv_btn a:hover {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.25);
}

/*서브메뉴*/
.sub_menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #E86E2F;
    color: #fff;
    border-radius: 0 0 12px 12px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    display: none;
}

#header .nav>li:hover .sub_menu {
    display: block;
}

#header>.inner>.nav>li {
    position: relative;
}

#header .sub_menu li a {
    display: block;
    padding: 10px 20px;
    white-space: nowrap;
}

#header .sub_menu li:hover a:hover {
    font-weight: bold;
}


/*-------------
   main_banner
  -------------*/
#main_banner h1 {
    font-size: 60px;
    font-family: 'NostalgicCocochoitoon';
    color: #fff;
    font-weight: 400;
}

#main_banner p {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    padding-top: 40px;
}

.mb_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.47);
    z-index: 99;
}

#main_banner img {
    width: 100%;
}

#main_banner {
    position: relative;

}

/*-------
  bar
---------*/
#bar {
    background-color: #E86E2F;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bar a {
    border-right: 1px solid #fff;
    padding-right: 20px;
    padding-left: 20px;
}

#bar div {
    position: relative;
}

.dot {
    position: absolute;
    top: -6px;
    left: 240px;
}

.bar_cat_room {
    font-weight: bold;
}

.bar_dog {
    position: absolute;
    top: -75px;
    left: -110px;
}

.bar_cat {
    position: absolute;
    top: -75px;
    right: -110px;
}

#bar a:last-of-type {
    border-right: none;
}

.bar_notice:hover,
.bar_review:hover,
.bar_tour:hover {
    font-weight: bold;
}

.bar_bold_text{
    font-weight: bold;
}
/* 안내사항 */
.tour_info {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    padding: 10px 0;
    gap: 10px;
    margin-top: 50px;
}

/*더보기 버튼*/
.more_btn{
   border: none;
   color: #fff;
   background-color: #E86E2F;
   width: 166px;
   height: 45px;
   font-weight: bold;
   border-radius: 99px;
   font-size: 16px;
    display: block;
    margin: 0 auto;
}

/*--------
   tour
----------*/
#tour {
    background: url(../images/community/community-3/tour_background.jpg);
    padding: 140px 0;
}

.tour_box {
    background: #fff;
    border-radius: 22px;
    overflow: hidden;
    display: flex;
    margin-bottom: 60px;
}

.img_box {
    width: 100%;
}

.text_box,
.img_box {
    flex: 1;
}

.text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tour_center {
    padding: 0px 60px;
}

#tour span {
    color: #E86E2F;
    font-weight: 600;
    font-size: 36px;
}

.line1 {
    padding: 15px 0;
}

.orange_box {
    color: #fff;
    background-color: #E86E2F;
    display: inline-block;
    width: 80px;
    text-align: center;
    border-radius: 99px;
    font-weight: 600;
    padding: 2px 0;
}

.tour_des ul li {
    display: flex;
    gap: 20px;
    padding: 5px 0;
}

.tour_des {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px 0 60px;
}

.with_animal {
    width: 174px;
    height: 104px;
    border: 1px solid #E86E2F;
    border-radius: 22px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.with_animal h4 {
    color: #E86E2F;
    font-size: 16px;
    font-weight: 600;
}

.with_animal .line2 {
    padding: 5px 0;
}

.with_animal p {
    text-align: center;
}

.with_animal .paw {
    position: absolute;
    top: 75px;
    right: -5px;
}

/*장식*/
.illust1 {
    position: absolute;
    top: -70px;
    left: -50px;
}

.illust2 {
    position: absolute;
    top: 500px;
    right: -70px;
}

.illust3 {
    position: absolute;
    top: 1070px;
    left: -60px;
}

.illust4 {
    position: absolute;
    top: 2070px;
    right: -60px;
}

/* 둥둥 떠다니는 장식 */
.illust1,
.illust2,
.illust3,
.illust4 {
    animation: illust 3s ease-in-out infinite;
}

@keyframes illust {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.inner {
    position: relative;
}

/*-------
   푸터
--------*/
#footer {
    position: relative;
    height: 290px;
    background-color: #4abfcb;
    box-sizing: border-box;
    border-top: 2px solid #685F50;

}

#footer .footer_text_box li {
    color: #fff;
    font-size: 13px;
    text-align: left;
}

.footer_text_box {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    padding: 77px 0 77px 96px;
}

#footer ul {
    border-left: 1px solid #fff;
    padding-left: 30px;
}

#footer ul li:first-child {
    margin-bottom: 25px;
}

.footer_img {
    position: absolute;
    bottom: 0;
    right: 0;

    height: auto;
}