@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
video,
iframe {
    display: block;
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}

body {
    color: #685F50;
    font-size: 16px;
    font-family: 'Pretendard';
    /* font-family: 'NostalgicCocochoitoon'; */
    min-width: 1450px;
    line-height: 150%;
    overflow-x: hidden;
}

.inner {
    width: 1320px;
    margin: 0 auto;
}

h2 {
    font-family: 'NostalgicCocochoitoon';
    font-weight: 400;
    color: #685F50;
    font-size: 36px;
    text-align: center;
}

h5 {
    font-size: 22px;
    color: #E86E2F;
    font-weight: bold;
    text-align: center;
}

.title h2 {
    padding-bottom: 20px;
}

.title>img {
    margin: 0 auto;
    padding-bottom: 20px;
}

.title h5 {
    padding-bottom: 70px;
}


/*------------------------
  문의하기 / 올라가기 버튼
  -----------------------*/
.ask_btn {
    position: fixed;
    right: 40px;
    bottom: 150px;
    z-index: 999;


}

.up_btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 999;
}


/*----------
   header
  ---------*/
#header {
    background-color: rgba(255, 244, 222, 50%);
     box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
}

#header.scrolled {
    background-color: rgba(255, 244, 222, 1);
    box-shadow: #685F50;
}

#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#header .nav {
    display: flex;
    gap: 45px;
}

#header>.inner>.nav>li>a {
    display: inline-block;
    padding: 28px 0;
    
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);;
}


#header .reservation {
    display: flex;
    align-items: center;
}

#header>.inner>ul {
    display: flex;
}

#header .reserve_text {
    color: #E86E2F;
    font-weight: bold;
    padding-left: 5px;
}

.reserv_btn a:hover {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.25);
}

/*서브메뉴*/
.sub_menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #E86E2F;
    color: #fff;
    border-radius: 0 0 12px 12px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    display: none;
}

#header .nav>li:hover .sub_menu {
    display: block;
}

#header>.inner>.nav>li {
    position: relative;
}

#header .sub_menu li a {
    display: block;
    padding: 10px 20px;
    white-space: nowrap;
}

#header .sub_menu li:hover a:hover {
    font-weight: bold;
}


/*-------------
   main_banner
  -------------*/
#main_banner h1 {
    font-size: 60px;
    font-family: 'NostalgicCocochoitoon';
    color: #fff;
    font-weight: 400;
}

#main_banner p {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    padding-top: 40px;
}

.mb_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.47);
    z-index: 99;
}

#main_banner img {
    width: 100%;
}

#main_banner {
    position: relative;

}

/*-------
  bar
---------*/
#bar {
    background-color: #E86E2F;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bar a {
    border-right: 1px solid #fff;
    padding-right: 20px;
    padding-left: 20px;
}

#bar div {
    position: relative;
}

.dot {
    position: absolute;
    top: -6px;
    left: 146px;
}

.bar_bold_text {
    font-weight: bold;
}

.bar_dog {
    position: absolute;
    top: -75px;
    left: -110px;
}

.bar_cat {
    position: absolute;
    top: -75px;
    right: -110px;
}

#bar a:last-of-type {
    border-right: none;
}

.bar_notice:hover
.bar_review:hover,
.bar_tour:hover {
    font-weight: bold;
}

/*----------------
     best_review
  ----------------*/
#best_review {
    background-color: #FFF4DE;
    padding: 140px 0;

}

.mini_box {
    background-color: #fff;
    padding: 20px;
    border-radius: 22px;
    overflow: hidden;
    width: 459px;
    flex-shrink: 0;
}

.box_nickname {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-weight: bold;
}

.mini_box .review_dec {
    text-align: center;
    padding-top: 20px;
}

#best_review ul {
    display: flex;
    gap: 25px;
}

.box2 {
    padding-top: 20px;
}

.box1,
.box2 {
    overflow: hidden;
    width: 100%;
}

.box1 ul,
.box2 ul {
    display: flex;
    gap: 30px;
    width: max-content;
    list-style: none;
}

.box1 ul {
    animation: reviewLeft 40s linear infinite;
}

@keyframes reviewLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-50% - 15px));
    }
}

.box2 ul {
    animation: reviewRight 40s linear infinite;
}

@keyframes reviewRight {
    from {
        transform: translateX(calc(-50% - 15px));
    }

    to {
        transform: translateX(0);
    }
}

/*---------------
  guest_reivew
  ------------*/
#guest_review {
    background: url(../images/community/community-2/guest-review-background-img.jpg);
    padding: 100px 0 170px 0;
}

#notice {
    background: url(../images/community/notice_background_img.jpg);
    background-repeat: repeat-x;
    padding: 140px 0;
}

.num {
    width: 125px;
}

thead {
    border-radius: 99px 99px 0 0;
}

.board_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

tbody {
    border: 1px solid #E86E2F;
}

.total {
    color: #fff;
    background-color: #E86E2F;
    padding: 5px 45px;
    border-radius: 99px;
}

.notice_table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 22px 22px 0 0;
    overflow: hidden;
}


.notice_table th {
    background: #e86e2f;
    color: #fff;
    padding: 12px 0;
}

.notice_table td {
    text-align: center;
    padding: 12px 0;
}

.num {
    width: 125px;
}

.nickname {
    width: 170px;
}

.day {
    width: 183px;
}

.view {
    width: 115px;
}

/*서치*/
.search_box {
    display: flex;
    width: 193px;
    height: 25px;

    border: 2px solid #E86E2F;
    border-radius: 999px;
    overflow: hidden;
}

.search_box input {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 1px 14px;
    font-size: 14px;
}

.search_box input::placeholder {
    color: #b7b7b7;
}

.search_box button {
    width: 31px;
    border: none;
    background: #E86E2F;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box button img {
    width: 13px;
}

.best {
    color: #F1927E;
    font-weight: bold;
}

.pink {
    background-color: #FFF6F2;
}


.page{
    position: relative;
    padding-top: 30px;
    height: 40px;
}

.page_num{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
}

.page p{
    position: absolute;
    right: 0;
    top: 30px;
}

.page p a{
    display: block;
    background-color: #E86E2F;
    color: #fff;
    border-radius: 99px;
    padding: 5px 30px;
    text-decoration: none;
}

/*-------
   푸터
--------*/
#footer {
    position: relative;
}

#footer .footer_text_box li {
    color: #fff;
    font-size: 13px;
    text-align: left;
}

.footer_text_box {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 13px;
    font-weight: bold;
    position: relative;
     padding: 4vw 0 4vw 5vw;
}

#footer ul {
    border-left: 1px solid #fff;
    padding-left: 30px;
}

#footer ul li:first-child {
    margin-bottom: 25px;
}

.footer_img {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: auto;
}