@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
video,
iframe {
    display: block;
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}

body {
    color: #685F50;
    font-size: 16px;
    font-family: 'Pretendard';
    /* font-family: 'NostalgicCocochoitoon'; */
    min-width: 1450px;
    line-height: 150%;
    overflow-x: hidden;
}

.inner {
    width: 1320px;
    margin: 0 auto;
}

h2 {
    font-family: 'NostalgicCocochoitoon';
    font-weight: 400;
    color: #685F50;
    font-size: 36px;
    text-align: center;
}

h5 {
    font-size: 22px;
    color: #E86E2F;
    font-weight: bold;
    text-align: center;
}

.title h2 {
    padding-bottom: 20px;
}

.title>img {
    margin: 0 auto;
    padding-bottom: 20px;
}

.title h5 {
    padding-bottom: 70px;
}


/*------------------------
  문의하기 / 올라가기 버튼
  -----------------------*/
.ask_btn {
    position: fixed;
    right: 40px;
    bottom: 150px;
    z-index: 999;


}

.up_btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 999;
}


/*----------
   header
  ---------*/
#header {
    background-color: rgba(255, 244, 222, 50%);
     box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
}

#header.scrolled {
    background-color: rgba(255, 244, 222, 1);
    box-shadow: #685F50;
}

#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#header .nav {
    display: flex;
    gap: 45px;
}

#header>.inner>.nav>li>a {
    display: inline-block;
    padding: 28px 0;
    
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);;
}


#header .reservation {
    display: flex;
    align-items: center;
}

#header>.inner>ul {
    display: flex;
}

#header .reserve_text {
    color: #E86E2F;
    font-weight: bold;
    padding-left: 5px;
}

.reserv_btn a:hover {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.25);
}

/*서브메뉴*/
.sub_menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #E86E2F;
    color: #fff;
    border-radius: 0 0 12px 12px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    display: none;
}

#header .nav>li:hover .sub_menu {
    display: block;
}

#header>.inner>.nav>li {
    position: relative;
}

#header .sub_menu li a {
    display: block;
    padding: 10px 20px;
    white-space: nowrap;
}

#header .sub_menu li:hover a:hover {
    font-weight: bold;
}


/*-------------
   main_banner
  -------------*/
#main_banner h1 {
    font-size: 60px;
    font-family: 'NostalgicCocochoitoon';
    color: #fff;
    font-weight: 400;
}

#main_banner p {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    padding-top: 40px;
}

.mb_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.47);
    z-index: 99;
}

#main_banner img {
    width: 100%;
}

#main_banner {
    position: relative;

}

/*----------------
      bar
------------------*/
#bar {
    background-color: #E86E2F;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bar a {
    border-right: 1px solid #fff;
    padding-right: 20px;
    padding-left: 20px;
}

#bar div {
    position: relative;
}

.dot {
    position: absolute;
    top: -6px;
    left: 45px;
}

.bar_bold_text {
    font-weight: bold;
}

.bar_dog {
    position: absolute;
    top: -75px;
    left: -110px;
}

.bar_cat {
    position: absolute;
    top: -75px;
    right: -110px;
}

#bar a:last-of-type {
    border-right: none;
}

.bar_dog_room:hover {
    font-weight: bold;
}

.bar_cat_room:hover {
    font-weight: bold;
}

/*----------------
   dogroom_info
-----------------*/
#dogroom_info {
    padding: 140px 0 180px 0;
    background-image: url(../images/rooms_page/rooms_1-2/background-img.jpg);
    background-size: cover;
}


#dogroom_info .inner {
    display: flex;
    justify-content: space-between;
}

.info_box {
    background-color: #fff;
    border-radius: 22px;
    border: 1px solid #E86E2F;
    text-align: center;
    position: relative;
    padding: 35px 0px 25px 0;
    width: 310px;
}

.info_box img {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.info_box span {
    display: inline-block;
    padding: 2px 25px;
    color: #fff;
    background-color: #E86E2F;
    border-radius: 99px;
    font-weight: 600;
    margin: 10px 0;
}

.icon {
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translateX(-50%);
}

.mini {
    margin: 0 auto;
    font-weight: 600;
}

.mini img {
    padding-right: 10px;
}

.line {
    margin: 10px 0 5px;
}

.dog_box li:last-child {
    line-height: 200%;
    padding-top: 30px;
}

.service_box li:last-child {
    line-height: 350%;
    padding-top: 35px;
}

/*------------------
 reservation_banner
-------------------*/
.reservation_banner {
    background-image: url(../images/rooms_page/rooms_1-2/reservation-banner.jpg);
    width: 100%;
    height: 340px;
    margin: 140px 0;
    position: relative;
    background-attachment: fixed;
}

.reserv_btn a {
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: rgba(232, 110, 47, 0.4);
    padding: 5px 45px;
    border-radius: 99px;
    border: 1px solid #fff;
    font-weight: 500;
}

/*------------------
other rooms 다른객실 
-------------------*/
.other-rooms-slide img {
    border-radius: 77px;
}

.other_rooms_name {
    font-size: 22px;
    padding-bottom: 15px;
}

/*other rooms hover 다른객실 호버*/
.hover_box {
    background-color: rgba(232, 110, 47, 0.4);
    backdrop-filter: blur(4px);
    width: 419px;
    height: 418px;

    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: all 0.5s;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
}

.other-rooms-slide {
    border-radius: 77px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
}

.other-rooms-slide a {
    border: 1px solid #fff;
    padding: 5px 30px;
    border-radius: 99px;
    font-weight: 500;
}

.other-rooms-slide a:hover{
    background-color: #fff;
    color:#E86E2F;
    transition: all 0.3s;
}

.room_info {
    padding: 15px 0;
}

.other-rooms-slide:hover .hover_box {
    top: 0;
    left: 0;
}


/*other rooms 버튼*/
.other-rooms-next {
    background: url(../images/rooms_page/rooms_1-2/other-rooms-right.png);
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;

    position: absolute;
    top: 50%;
    right: 200px;
}
.other-rooms-prev {
    background: url(../images/rooms_page/rooms_1-2/other-rooms-left.png);
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;

    position: absolute;
    top: 50%;
    left: 200px;
}

.other-rooms-next svg,
.other-rooms-prev svg {
    display: none;
}
#other_rooms .btn{
    position: relative;
    margin: 0 auto;
    width: 1920px;
}
/*-------
   푸터
--------*/
#footer {
    position: relative;
}

#footer .footer_text_box li {
    color: #fff;
    font-size: 13px;
    text-align: left;
}

.footer_text_box {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 13px;
    font-weight: bold;
    position: relative;
     padding: 4vw 0 4vw 5vw;
}

#footer ul {
    border-left: 1px solid #fff;
    padding-left: 30px;
}

#footer ul li:first-child {
    margin-bottom: 25px;
}

.footer_img {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: auto;
}