@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
video,
iframe {
    display: block;
}

ol,
ul {
    list-style: none;
}

body {
    color: #685F50;
    font-size: 16px;
    font-family: 'Pretendard';
    /* font-family: 'NostalgicCocochoitoon'; */
    min-width: 1450px;
    line-height: 150%;
}

.inner {
    width: 1320px;
    margin: 0 auto;
}

h2 {
    font-family: 'NostalgicCocochoitoon';
    font-weight: 400;
    color: #685F50;
    font-size: 36px;
    text-align: center;
}

h5 {
    font-size: 22px;
    color: #E86E2F;
    font-weight: bold;
    text-align: center;
}

.title h2 {
    padding-bottom: 20px;
}

.title>img {
    margin: 0 auto;
    padding-bottom: 20px;
}

.title h5 {
    padding-bottom: 70px;
}


/*------------------------
  문의하기 / 올라가기 버튼
  -----------------------*/
.ask_btn {
    position: fixed;
    right: 40px;
    bottom: 150px;
    z-index: 999;


}

.up_btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 999;
}


/*----------
   header
  ---------*/
#header {
    background-color: rgba(255, 244, 222, 50%);
     box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
}

#header.scrolled {
    background-color: rgba(255, 244, 222, 1);
    box-shadow: #685F50;
}

#header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#header .nav {
    display: flex;
    gap: 45px;
}

#header>.inner>.nav>li>a {
    display: inline-block;
    padding: 28px 0;
    
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);;
}


#header .reservation {
    display: flex;
    align-items: center;
}

#header>.inner>ul {
    display: flex;
}

#header .reserve_text {
    color: #E86E2F;
    font-weight: bold;
    padding-left: 5px;
}


/*서브메뉴*/
.sub_menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #E86E2F;
    color: #fff;
    border-radius: 0 0 12px 12px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    display: none;
}

#header .nav>li:hover .sub_menu {
    display: block;
}

#header>.inner>.nav>li {
    position: relative;
}

#header .sub_menu li a {
    display: block;
    padding: 10px 20px;
    white-space: nowrap;
}

#header .sub_menu li:hover a:hover {
    font-weight: bold;
}


/*-------------
   main_banner
  -------------*/
#main_banner h1 {
    font-size: 60px;
    font-family: 'NostalgicCocochoitoon';
    color: #fff;
    font-weight: 400;
}

#main_banner p {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    padding-top: 40px;
}

.mb_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.47);
    z-index: 99;
}

#main_banner img {
    width: 100%;
}

#main_banner {
    position: relative;

}

/*----------------
      bar
------------------*/
#bar {
    background-color: #E86E2F;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;



}

#bar a {
    border-right: 1px solid #fff;
    padding-right: 20px;
    padding-left: 20px;
}

#bar div {
    position: relative;
}

.dot {
    position: absolute;
    top: -6px;
    left: 63px;
}

.bar_bold_text {
    font-weight: bold;
}

.bar_dog {
    position: absolute;
    top: -75px;
    left: -110px;
}

.bar_cat {
    position: absolute;
    top: -75px;
    right: -110px;
}

#bar a:last-of-type {
    border-right: none;
}

.bar_dog_room:hover {
    font-weight: bold;
}

.bar_cat_room:hover {
    font-weight: bold;
}



/*-----------------
    dogroom 멍멍룸
-------------------*/
#dogroom {
    padding: 140px 0;
}

.dogroom_slide {
    display: flex;

}

.dogroom_swiper {
    background-color: #fff;
    border-radius: 77px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #E86E2F;

}

.rooms_name {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
}

.rooms_name span {
    color: #E86E2F;
}

.rooms_line {
    padding-bottom: 10px;
}

.rooms_bold {
    font-weight: 600;
    padding-right: 35px;
}

#dogroom .text_box li {
    display: flex;
    padding-bottom: 15px;
}

#dogroom .text_box li a {
    display: inline-block;
    padding: 10px 0;
    width: 347px;
    background-color: #E86E2F;
    color: #fff;
    border-radius: 99px;
    text-align: center;
    font-weight: 500;
    margin: 135px 0 35px 0;
}

#dogroom .text_box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* 멍멍룸 배경장식 */
.bone {
    position: absolute;
    top: -30px;
    right: -30px;

}

#dogroom .inner {
    position: relative;
}

.bg1 {
    position: absolute;
    top: -80px;
    left: -100px; 
}


.bg2 {
    position: absolute;
    bottom: -500px;
    right: -100px;
}


.floationg_box{
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}







/* 멍멍룸 네비게이션,페이지네이션 */
#dogroom .dogroom-next {
    background-image: url(../images/rooms_page/rooms_1/rooms-view-right.png);
    position: absolute;
    width: 31px;
    height: 53px;
    top: 570px;
    right: 0px;
    z-index: 99;
}

.dogroom-next svg,
.dogroom-prev svg {
    display: none;
}

#dogroom .dogroom-prev {
    background-image: url(../images/rooms_page/rooms_1/rooms-view-left.png);
    position: absolute;
    width: 31px;
    height: 53px;
    top: 570px;
    left: 0;
    z-index: 99;
}

#dogroom .dogroom-pag {
    position: absolute;
    bottom: -57px;
    left: 0;
}

.swiper-pagination-bullet-active {
    background-color: #E86E2F;
    width: 30px;
    border-radius: 99px;
}

/*---------------
   special point
 -----------------*/
#special_point {
    background-image: url(../images/rooms_page/rooms_1/special-point-background.jpg);
    background-repeat: repeat-x;
    height: 3680px;
    padding-top: 100px;
}

.point_big_box {
    background-color: #fff;
    width: 578px;
    height: 637px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}
.point_big_box2{
    background-color: #fff;
    width:664px;
    height: 729px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}


.point_img {
    display: flex;
    justify-content: center;
    padding: 20px 20px 0;
}

.point_big_text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 20px;
}

.point_small_text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 18px;
}

.point_small_box {
    background-color: #fff;
    width: 340px;
    height: 399px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.point_small_img {
    display: flex;
    justify-content: center;
    padding: 20px 20px 0;
}

/* 포토 포지션 */
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7 {
    position: absolute;
}

#special_point .inner {
    position: relative;
}

/* 스페셜 포인트 배경 라인*/
.special_point_line {
    background-repeat: no-repeat;
    top: -300px;
    left: 120px;
    position: absolute;
    transform: translateY(50%);
}

.box2 {
    position: absolute;
    top: 300px;
    left: 660px;
}

.box3 {
    position: absolute;
    top: 750px;
    right: 0;
}

.box4 {
    position: absolute;
    top: 900px;
    left: 50%;
    transform: translateX(-50%);
}

.box5 {
    position: absolute;
    top: 1200px;
    left: 0;
}

.special_point_dog {
    /*포토 위에 강아지 장식*/
    position: absolute;
    top: 1060px;
    left: 90px;
    z-index: 1;
}

.box6 {
    position: absolute;
    top: 1650px;
    left: 250px;
}

.box7 {
    position: absolute;
    top: 1540px;
    right: 0;
}

/*선 애니메이션*/
.special_point_line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: inset(0 0 100% 0);
}

#special_point.active .special_point_line {
    animation: lineDown 7s ease-out forwards;
}



/*-----------------
  ROOMS VIEW 룸 뷰
  ----------------*/
#rooms_view {
    margin-top: 2200px;
}

#rooms_view .view_background {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.view_swiper2 {
    width: 1275px;
    height: 472px;
    border-radius: 20px;
    position: relative;
}

.view_swiper {
    width: 100%;
    height: 154px;
    padding-top: 20px;
}

.view_swiper img {
    border-radius: 30px;
}

.view-next svg,
.view-prev svg {
    display: none;
}

#rooms_view .inner .view-prev {
    background-image: url(../images/rooms_page/rooms_1/rooms-view-left.png);
    position: absolute;
    background-repeat: no-repeat;
    height: 54px;
    width: 32px;
    left: 15px;
}


#rooms_view .inner .view-next {
    background-image: url(../images/rooms_page/rooms_1/rooms_view_right.png);
    position: absolute;
    background-repeat: no-repeat;
    height: 54px;
    width: 32px;
    right: 15px;
}

/*----------------
   cat_rooms_go
-----------------*/
.cat_rooms_go {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E86E2F;
    border-radius: 30px;
    margin-top: 120px;
    position: relative;
    width: 1320px;
    height: 135px;
    text-decoration: none;
    box-shadow: 0, 4px, 4px, rgba(0, 0, 0, 0.25);
}

.cat_img {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.cat_text p {
    margin: 0;
    color: #fff;
    font-size: 30px;
    font-family: 'NostalgicCocochoitoon';
}

.cat_text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}




/*-------
   푸터
--------*/
#footer {
    position: relative;
    height: 290px;
    background-color: #4abfcb;
    box-sizing: border-box;
    border-top: 2px solid #685F50;

}

#footer .footer_text_box li {
    color: #fff;
    font-size: 13px;
    text-align: left;
}

.footer_text_box {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    padding: 77px 0 77px 96px;
}

#footer ul {
    border-left: 1px solid #fff;
    padding-left: 30px;
}

#footer ul li:first-child {
    margin-bottom: 25px;
}

.footer_img {
    position: absolute;
    bottom: 0;
    right: 0;

    height: auto;
}